body {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    min-height: 100vh; /* Asegura que ocupe al menos el 100% del alto de la ventana */
    margin: 0; /* Elimina márgenes por defecto del body */
}

table{    
    border-collapse: collapse;
    border: 1px solid black;
}

/* SÓLO ABARCA EL ENCABEZADO */
thead :first-child th{
    background-color: black;
    color: white;
    padding: 1em 2em;
}

thead tr:nth-child(2){
    background-color: #333333;
    color: white;
}

/* Establece el fondo de la línea de zebra solo para la segunda fila en tbody */
tbody tr:nth-child(2) {
    background-color: #eeeeee; /* Utiliza el color definido en :root */
}

/* CELDA VACÍA  <td>&nbsp;</td>*/
thead tr > td {
    background-color: black;
    border: none;
    padding: 0;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.368);
    padding: 1em 2em;
}

td{
    text-align: center;
}

caption{
    padding: 10px;
    caption-side: bottom;
	font-size: .85rem;
}