* {box-sizing: border-box;}
  
  body {
    /* background-color: #7a7a7a; */
    margin: 0;
    padding: 0;

  }

header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-right: 0;
    background-color: #f5f4f4;
}

header img {
    width: 30%;


}


/* nav {
  background-color: #222E42;
} */

nav ul {
  list-style-type: none;
  padding: 0%;
}

nav li {
  border: 1px solid #f5f4f4;
}

nav a {
  display: block;
  /* color: #f5f4f4; */
  text-align: center;
  padding: .5rem;
  text-decoration: none;
}


nav .active a {
  font-weight: bold;
  color:  #020000;
 
}

#menu {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding: 2rem 1.5rem;
  background-color: #7a7a7a;
  border: #f5f4f4 solid 1px;
  padding: 8px;
  margin-right: 3px;
}

#menu::before {
  content: "≡";
  display: inline;
  float: right;
  vertical-align: middle;
  color: #020000;
}

nav {
  background-color: #7a7a7a;
  
}

.navigation {
  display: flex;
  list-style: none;
  /* margin: 0 auto; */
  justify-content: center;  
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  color:  #020000;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
  color: #020000;
  background-color: #f5f4f4;
  border-radius: 2%;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "x";
  font-weight: bold;
}



h1, h2 {
    font-family: 'EB Garamond', serif;
}

p {
    font-family: 'Roboto', sans-serif;

}

#hero {
    margin-top: 20px;
}

#booking a{
    text-decoration: none;
    background-color: #020000;
    padding: 1% 3%;
    color: #f5f4f4;
    font-size: 15px;
    border-radius: 20px;
}

#booking {
    margin-top: 7%;
    margin-bottom: 7%;


}

#hero-msg {
    text-align: center;
    color: #f5f4f4;
}

#hero-msg h2 {
    font-size: 30px;
    
}

#updates {
    display: flex;
    /* align-items: center; */
}


#booking:hover {
    opacity: 0.8;
}

.events{
    text-decoration: none;
    background-color: #020000;
    color: #f5f4f4;
    padding: 1% 3%;
    /* align-items: center; */
    text-align: center;
}

.events:hover {
    transform: scale(1.1);
}

.events:nth-last-child(1) {
    background-color: #f5f4f4;
    border-top-right-radius: 7px;
    color: #020000;
}

.events:nth-last-child(3) {
    background-color: #f5f4f4;
    color: #020000;
}

.events:nth-last-child(4) {
    border-top-left-radius: 7px;
}


#hero-pic img{
    width: 100%;
    height: 350px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    margin-bottom: 1px;
}

#hero-msg {
   grid-column: 2/3; 
   grid-row: 2/3;
   margin-bottom: 4px;
}

#hero-pic {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

  
.exp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    margin-bottom: 0%;
    margin-top: 2%;
    background-color: #f5f4f4;
    height: 300px;
    padding: 0px 5% 0px 5%;
    color: #020000;
    
  }

  .exp-container h2 {
    margin-right: 50px;
  }
  
  .image {
    width: 30%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover; /* M*/
    float: right;
  }

  /* .spotlight-pic {
    max-width: 100%;
    height: auto;
  } */

  /* Style for the chart description */
  #spotlight-container{
    margin-bottom: 3%;
    padding: 0%;
  }

  #spotlight-container h1 {
    text-align: center;
  }

  .spotlights {
    display: block;
    /* padding: 15%; */
    padding-bottom: 2%;
  
  }



  .founding,
  .mission,
  .benefit {
    margin-bottom: 5%;
    flex: 1; /*take equal available space within the flex container*/
  }

  .founding,
  .mission,
  .benefit p {

  font-size: large;


}
  
  .founding {
    /* background-color: rgba(12, 12, 12, 0.9); */
    background-color: #020000;
    color: #f5f4f4;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* box-shadow: 8px 8px 8px 5px #a3a2a2; */
    margin-bottom: 2%;
  }

  .founding-pic {
    max-width: 100%;
    height: auto; /* Adjusted height to be auto */
  }
  
  .mission {
    /* background-color: rgba(12, 12, 12, 0.9); */
    background-color: #020000;
    color: #f5f4f4;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* box-shadow: 8px 8px 8px 5px #a3a2a2; */
    margin-bottom: 2%;
  }

  .mission-pic {
    max-width: 100%;
    height: auto; /* Adjusted height to be auto */
  }
  
  .benefit {
    /* background-color: rgba(12, 12, 12, 0.9); */
    background-color: #020000;
    color: #f5f4f4;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* box-shadow: 8px 8px 8px 5px #a3a2a2; */
    margin-bottom: 2%;
  }
  
  .benefit-pic {
    max-width: 100%;
    height: auto; /* Adjusted height to be auto */
  }

  .c-events {
    position: relative;
  }

  .c-events h1 {
    margin: 0% 0% 0% 0%;
    text-align: center;
  }

 .c-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .event-child, .event-child2, .event-child3 {
  /* flex: 1; */
  margin: 2%;
  border: #e7e1e1 solid 5px;
  background-color: #f5f4f4;
  width: 50%; /* Adjust the width as needed */
  height: auto;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding-top: 20px;
}

 .event-child:hover,
 .event-child2:hover,
 .event-child3:hover {
   transform: scale(1.1);
 }

 .event-child a {
  text-decoration: none;
  color: #020000;
 }
 .event-child2 a {
  text-decoration: none;
  color: #020000;
 }
 .event-child3 a {
  text-decoration: none;
  color: #020000;
 }

.weather {
  text-align: center;
}
 
.weather > div {
  background-color: #f5f4f4;
  padding: 2%;
  margin:1% 5% 1% 5%;
}

.weather > button {
  border: 2px solid #020202;
  background-color: #f5f4f4;
  padding: 1%;
  color: #020000;
  font-weight: bold;
  cursor: pointer;
  outline: none; 
}

/* .weather > button:focus {
  outline-offset: none;
} */

.weather > button:hover {
  color: #f5f4f4;
  background-color: #020000;
  border: none;

}

.business-promotion {
  display: grid;
  grid-template-columns: 1fr;
}

.business-promotion img {
  width: 100%;
  height: auto;
  /* padding-top: 10%; */
}

.sales-pro{
  /* border: #f5f4f4 solid 5px; */
  text-align: center;
  /* background-color: rgba(12, 12, 12, 0.9); */
  background-color: #020000;
  color: #f5f4f4;
  padding-bottom: 1%;
}

.sales-pro > h1 {
  margin-bottom: 10%;
}

.promotion1, .promotion2, .promotion3 {
  background-color: #f5f4f4;
  width: 50%;
  height: 180px;
  padding: 2%;
  margin-top: 3%;
  border: #020000 solid 1px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
  color: #020000;
}

.idea-msg {
  background-color: #f5f4f4;
  /* text-align: center; */
  padding: 10%;
}

.idea-msg button {
  margin-left: 4%;
  border: 2px solid #020000;
  background-color: #020000;
  color: #f5f4f4;
  padding: 2%;
  border-radius: 50px;
}

.idea-msg button:hover {
  border: #020000 solid 2px;
  color: #020000;
  background-color: #f5f4f4;
}

.idea-img img {
  width: 100%;
  height: auto;
}

#visit-us {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url("/chamber/images/visit.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  color: #f5f4f4;
  padding-bottom: 8%;
  padding-top: 4%;
  margin-top: 3%;
}

#visit-us h1 {
  font-size: 1rem;
  font-weight: bold;
}

.reason1,
.reason2,
.reason3,
.reason4 {
  margin-right: 5%;
}

.reason1,
.reason2,
.reason3,
.reason4,
.reason5 {
  margin-left: 8%;
}

.reason5 button {
  padding: 3%;
  border-radius: 20px;
  background-color: #020000;
  border: #f5f4f4 solid 1px;
  color: #f5f4f4;
}


.text-primary {
  color: #020000;
  font-size: 40px;
}

/* Custom color for the pencil icon */
.text-danger {
  color: #020000; /* Change to your desired color */
  font-size: 40px;
}

/* Custom color for the gear icon */
.text-warning {
  color: #020000; /* Change to your desired color */
  font-size: 40px;
}


/* 

 discover page css */

 .d-header {
  /* background-color: #7a7a7a; */
  color: #020000;
  border-bottom: #020000 solid 2px;
  padding: 10px;
  text-align: center;
}
 

#d-main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;

}

#sidebar {
  border-right: none;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

/* #sidebar h2 {
  text-align: center;
} */

#sidebar p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 17px;
  margin-bottom: 10%;
}

#main-content {
  padding: 20px;
  
}

#main-content img {
  margin-bottom: 10px;
  animation: fade 10s;

}

.f-image > img {
  width: 10%;
}

@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

#main-content h2 {
  /* border: #020000 solid 2px; */
  box-shadow: 5px 5px 15px 8px #6f7364;
  width: 30%;
  padding: 10px ;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f5f4f4;
  margin-bottom: 50px;
}

.f-image {
  display: grid;
  grid-template-columns: 1fr;
} 




figcaption {
  font-size: 1.5rem;
}

.demogrphics > button {
  margin-top: 10px; /* Adjust the top margin as needed */
  background-color: #020000; /* Change the background color if needed */
  color: #f5f4f4; /* Change the text color if needed */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5%;
  
}

.demogrphics > button:hover {
  opacity: 0.7; /* Change the background color on hover if needed */
}

.demogrphics {
  background-color: #7a7a7a;
  color: #020000;
  padding-bottom: 5%;
}

.demogrphics h2 {
  text-align: center;
}

.statistical, .d-event {
  display: block; /* Change display to block */
  text-align: center; /* Center the text horizontally */
  border-right: #020000 solid 2px;
  border-top: #020000 solid 2px;
  margin-top: 15%;
}

.statistical a, .d-event a {
  text-decoration: none;
  background-color: #7a7a7a;
  color: #020000;
  padding: 3%;
  font-weight: bold;
  border-radius: 5px;

}


.d-event a:hover {
  background-color: #020000;
  color: #f5f4f4;
}

.statistical a:hover {
  background-color: #020000;
  color: #f5f4f4;
}

#websiteVisitInfo {
  text-align: center;
  margin-top: 10%;
}

/* #websiteVisitIn h1 {
  width:10%;
} */


/* join page css */

.join-h1 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.join {
  /* margin-top: 15%; */
  background-color: #f5f4f4;
  width: 80%;
  padding-top: 3%;
  border-radius: 20px;
  box-sizing: border-box; 
  display: flex;
  margin: 0 auto;
  box-shadow: #7a7a7a 10px 10px 15px 10px;
}

form fieldset {
  margin: 1rem 0;
  padding: 15px;
  border: none;
}

form legend {
  color: #020000;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-weight: 100;
  font-size: larger;
}

form label.top {
  display: block;
  padding-top: .9rem;
}

#membership-level {
  padding: 2%;
  font-weight: bold;
}

option {
  background-color: #7a7a7a;
  color: #020000;
  font-size: 1rem;
}

form label.top input {
  display: block;
  border: solid 1px #7a7a7a;
  border-radius: 5px;
  padding: .75rem;
  color: #020000;
  width: 100%;
  /* max-width: 20rem; */
  background-color: #f5f4f4;
  /* font-size: large; */
  
}

form label.top input:focus {
  outline: none;
}

/* form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
} */

textarea {
  width: 100%;
  font-size: large;
}


form fieldset:nth-of-type(2) {
  border-top: #020000 solid 1px;
  margin-top: 10px;
  padding-top: .5rem;

}

form fieldset:nth-of-type(2) #description {

  width: 100%;
  /* height: 100px; */
  resize: vertical; 
  
}
form fieldset:nth-of-type(1) {
  border-top: #020000 solid 1px;
}



#submitBtn {
  border: none;
  background-color: #020000;
  color: #f5f4f4;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  margin: 10px 0px;
  max-width: 20rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-left: 5%;
}

#submitBtn:hover {
  transform: scaleX(1.1);
}

.membership-level {
  background-color: #020000;
  color: #f5f4f4;
  border-radius: 20px;
  width: 80%;
  padding: 5%;
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 20%;
  box-shadow: #7a7a7a 11px 10px 15px 10px;
}

.membership-level p:nth-child(2) {
  border: #f5f4f4 solid 1px;
  padding: 3%;
  font-size: .9rem;
  color: #f5f4f4;
}

.membership-level p:nth-child(5) {
  border: #f5f4f4 solid 1px;
  padding: 3%;
  font-size: .9rem;
  color: #f5f4f4;

}

.membership-level p:nth-child(3) {
  border: #f5f4f4 solid 1px;
  padding: 3%;
  font-size: .9rem;
  color: #f5f4f4;
}

.membership-level p:nth-child(4) {
  border: #f5f4f4 solid 1px;
  padding: 3%;
  font-size: .9rem;
  color: #f5f4f4;
  
}

/* directory page */

.members {
  margin-bottom: 100px;
  margin-top: 150px;
}

.directory-p h1 {
  text-align: center;
  /* position: relative; */

}


.directory-p {
  position: relative;
}

.line, .line2 {
  position: absolute;
  top: 1%;
  width: 35%;
  height: 2px;
  background-color: #7a7a7a; /* Adjust the color as needed */
}

.line2 {
  right: 0;
}

.line2::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px; /* Adjust the circle size as needed */
  height: 20px;
  border-radius: 50%;
  background-color: #7a7a7a/* Adjust the color as needed */
}

.line2::before {
  left: 0;
  transform: translate(-50%, -50%);
}


.line::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px; /* Adjust the circle size as needed */
  height: 20px;
  border-radius: 50%;
  background-color: #7a7a7a; /* Adjust the color as needed */
}

.line::after {
  right: 0;
  transform: translate(50%, -50%);
}

.directory-p {
  margin-top: 50px;
}

section img {
  width: 25%;
  width: 136px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  
}

.directory-b {
  margin: auto 0;
}



.more-info a{
  display: inline-block;
  text-decoration: none;
  color: #020000;
  margin: 3%  1% 3% 0%;
}

main .togglemenu{
  margin-top: 40px;
  
}

.members {
  text-align: center;
}

main .togglemenu button {
  height: 35px;
  width: 100px;
  background-color: #020000;
  color: #f5f4f4;
  border: 2px solid #7a7a7a;
  font-weight: bolder;
  font-size: 17px;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px 30px; /* Adjusting padding as needed */
  text-align: center;
  
}

main .togglemenu button:hover {
  background-color: #f5f4f4;
  color: #020000;
}




.cardview section{
  border: 2px solid #7a7a7a;
  background-color: #f5f4f4;
  padding: 1px;
  text-align: center;
  margin: 5px;
  padding: 20px;
}



.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0.15rem;
}

.list section > * {
	margin: 0 .1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}


.list section p {
	font-weight: 300;
	font-size: smaller;
  margin: 10px;
}

.list section h4{
  font-size: 1rem;
  margin: 10px;

}

.list section:nth-child(even) {
	background-color: rgb(241, 248, 246);
}

#area-special {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the content horizontally */
}

#area-special > div {
  flex: 1 1 calc(100% - 20px); /* One column on smaller screens */
  max-width: calc(100% - 20px); /* One column on smaller screens */
}

#area-special a {
  display: block;
  margin-bottom: 5px; /* Add margin between the links */
  margin-bottom: 10px;
  font-size: large;

}

#area-special h4 {
  margin-bottom: 30px;
}

#area-special a:hover {
  transform: scaleX(1.1);
}

.material-icons {
  font-size: 30px;
  margin-top: 15px;
}

.local, .tech,
.Manufacture, 
.professional {
  text-align: center;
  /* border: #020000 solid 1px; */
  margin: 20px;
  box-shadow: #7a7a7a 5px 5px 5px 5px;
}

.review-container {
  max-width: 80%; /* Adjust the maximum width as needed */
  margin: auto;
  text-align: center;
  width: 60%;
  position: relative;
}

.review {
  display: none;
  border: #020000 solid 1px;
  border-radius: 25px;
  background-color: #f5f4f4;
  margin-bottom: 30px;
}

.review img {
  width: 20%;
  border-radius: 40%;
  margin-top: 20px;
}

.review h2 {
  margin-top: 10px;
 
}

.review p {
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 0px 20px 0px 20px;
}

.prev, .next {
  cursor: pointer;
  position:absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  /* color: #020000; */
  font-size: 18px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

.next {
  left: 100%;
  border-radius: 3px 0 0 3px;
  
}

.prev {
  right: 100%;
}

/* 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #7a7a7a;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1, .dot:hover {
  background-color: #020000;
}

.reviewbtn {
  margin-bottom: 100px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



footer {
  display: block;
  text-align: center;
  background-color: #f5f4f4;
}

.footer-icon {
  padding: 0;
  margin: 0;
}

.footer-icon i, .more-info a, .connect p {
  opacity: 0.8;
}

.logo-footer {
  margin: 0;
}

.below-p-footer {
  background-color: #7a7a7a;
  padding-top: 3%;
  color: #020000;
  padding-bottom: 2px;
}