:root {
    --black: #020000;
    --gray: #7a7a7a;
    --white-smoke:#f5f4f4;
}

.form-content {
    max-width: 30rem;
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 10%;
    margin-bottom: 10%;
    /* border: solid 2px #020000 ; */
    background-color: #f5f4f4;
    border-radius: 10px;
    padding: 4%;
    box-sizing: border-box; 
    box-shadow: 10px 10px 15px 10px #7a7a7a;
}



#title {
    /* text-align: center; */
    margin: 0% 0% 20% ;
    font-weight: bold;
    font-size: 2rem;
    color: var(--black);
}
/* form label.top {
    margin-bottom: 2rem;
    width: 100%; 
} */

input {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--black);
    font-weight: 500;
    width: 20rem;
}

form label.top input:required{
    border-left: black solid 1em;
}

form label.top input:required:valid{
    border-left: grey solid 1em;
}

#r {
    width: 100%;
}

#rangevalues option {
	flex: 1 1 auto;
}


#submitBtn{
    padding: 1rem 1rem;
    width: 60%;
    border: none;
    border-radius: 10px;
    background: var(--black);
    color: var(--white-smoke);
    cursor: pointer;
}

#submitBtn:hover {
    opacity: 0.9;
}

form label.top {
    color: var(--black);
    width: 100%;
}

@media screen and (max-width: 900px) {
    .form-content {
        max-width: 20rem;
    }

    input {
        width: 100%;
    }
}