body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    /* font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif; */
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'EB Garamond', serif;
    color: #020000;
    padding: 0em;
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background:#7a7a7a;
  }
  header {
    padding: 0em;
    text-align: center;
    color: #f5f4f4;
    background-color:#7a7a7a;
  }
  header > h1, header > h2 {
    color: #f5f4f4;
  }
  p {
    font-family: #020000;
    color:#020000;
    padding: 0em;
    font-family: 'Roboto', sans-serif;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color:#7a7a7a;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color:#020000;
    color: #f5f4f4;
  }
  .secondary {
    background-color: #7a7a7a;
  }
  .accent1 {
    background-color: #f5f4f4;
  }

  /* .accent2 {
    background-color: #121212;
    color: #f5f4f4;
  } */
